<% @posts.each do |post| %>
	<div class="post_box">
		<h5><%= link_to post.title, post_path(post) %></h5>
		<h6><i class="icon-time"></i><%= post.created_at%></h6>
		<%= render "common/share", :post => post %>
		<%= image_tag post.preview_img if post.preview_img.present?%>
		<p>
			<%= post.thumbnail.html_safe %>
		</p>
		<p><%= link_to "続きを読む →", post_path(post), :style => "color:red;" %></p>
	</div>
<%end%>