<h6><i class="icon-time"></i><%= @post.created_at%></h6>
<br/>
<%= render "common/share", :post => @post %>
<br/><br/>
<p>
	<%= @post.content.html_safe %>
</p>
<%= render "common/share", :post => @post %>
<br/><br/>
<%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>